@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --marromMaisClaro: #BFAE9F;
    --marromEscuro: #40342E;
    --marromClaro: #BFA75E;
    --cinza: #F2F2F2;
    --cinzaEscuro: #73655D;
}

body {
    font-family: "Poppins", serif;
    background-color: var(--marromEscuro);
}

header {
    background-color: var(--marromClaro);
    border-bottom: 5px solid var(--marromMaisClaro);
    padding: 8px;
    margin-bottom: 24px;
}

.img {
    width: 80%;
    margin: auto;
    text-align: center;
    align-items: center;
}

img {
    width: 8%;
}

.container img {
    width: 30%;
    margin-bottom: 16px;
    height: 300px;
}

.container {
    width: 80%;
    margin: auto;
    text-align: center;
    align-items: center;
}

.container button {
    background-color: var(--cinzaEscuro);
    color: var(--cinza);
    padding: 12px 16px;
    border: 2px solid var(--marromMaisClaro);
    border-radius: 8px;
    transition: 0.5s;
    margin-bottom: 24px;
}

.container button:hover {
    background-color: var(--marromEscuro);
    color: var(--marromClaro);
    border: 2px solid var(--marromClaro);
    transition: 0.5s;
    cursor: pointer;
}

.loading {
    font-weight: bold;
    margin-bottom: 20px;
}

.hidden {
    display: none;
    /* desaparecer com o objeto */
}

footer {
    background-color: var(--marromClaro);
    border-top: 5px solid var(--marromMaisClaro);
    padding: 8px;
    margin-top: 24px;
}